body{
  background: rgba(24, 20, 20, 0.89);
}
.container{
  max-width: 400px;
}
input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(233, 194, 109, 0.753);
  max-width: 400px;
}
.todos li{
  background: rgba(128, 14, 14, 0);
}
.delete{
  cursor: pointer;
}
.filtered{
  display: none !important;
}